header{
	position: absolute;
	top: 0;
	width: 100%;
	height: 15%;
	/*background: #9CF5C1;*/
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

header::after{
	clear: both;
	content: " ";
	display: block;
	height: 0;
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.containerTop{
	height: 100%;
	width: 100%;
}

.topLogo{
	background: lightyellow;
	position: absolute;
	width: 15%;
	height: 100%;
	float: left;
	margin-top: 0px;
}

.topLogo img{
	height: 100%;
}

.title{
	display: none;
}

.navBar{
	height: 100%;
	font-size: 4vh;
	padding-bottom: 2%;
}

.navbar-toggle {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
	color: rgba(255,255,255,0.8);
	font-size: 24px;
}

.mainNav{
	list-style-type: none;
}

.mainNav li{
	text-align: center;
	margin: auto;
	font-family: 'Roboto', sans-serif;
	flex-flow: row nowrap;
	flex-direction: row;
}

li .navLinks:hover {
	color: #545151;
	font-weight: bold;
}

.navLinks{
	text-decoration: none;
	color: #787575;
}

@media screen and (min-width: 768px){
	header{

	}

	.title{
		display: block;
		margin-left: 15%;
		line-height: 100%;
		width: 30%;
		float: left;
		height: 100%;
		padding-top: 3vh;
	}

	.title p{
		height: 100%;
		color: #0E921B;
		font-family: 'Abel', sans-serif;
		font-size: 3vw;
		display: inline-block;
		vertical-align: middle;
		line-height: 1.5;
		margin: auto;
		bottom: 0;
	}

	.navBar{
		height: 100%;
		margin-left: 45%;
		padding-bottom: 0;
		width: 55%;
		display: block;
		font-size: 3vh;
	}

	.mainNav{
		height: 100%;
		margin-top: auto;
		margin-bottom: auto;
		list-style-type: none;
		justify-content: flex-end;
		flex-direction: row;
		display: flex;
	}

	.mainNav li{
		text-align: center;
		margin: auto;
		font-family: 'Roboto', sans-serif;
		flex-flow: row nowrap;
		flex-direction: row;
		flex: 1;
	}

	li .navLinks:hover {
		color: #545151;
		font-weight: bold;
	}

	.navLinks{
		text-decoration: none;
		color: #787575;
	}
}

footer{
	width: 100%;
	height: 5%;
	/*background: #9CF5C1;*/
	/*box-shadow: 1px 0 0 0 rgba(0,0,0,0.15);*/
	box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.15);
	bottom: 0;
	position: absolute;
}

.containerBottom{
	width: 100%;
	height: 100%;
	display: flex;
	margin-right: 1%;
	font-family: 'Roboto', sans-serif;
	flex-flow: row nowrap;
	flex-direction: row;
	justify-content: flex-end;
	flex: 1;
	color: #787575;
}

.containerBottom p{
	margin: 3px;
	font-size: 3vh;
}